<link rel="stylesheet" href="css/sort.css">
<div class="sort">
  <div class="sortWrap wrap">
    <div class="sortItem1 sortItem l">
      <a href="#">
        <img src="img/sort1.jpg" alt="">
      </a>
    </div>
    <div class="sortItem2 sortItem l">
      <a href="#">
        <img src="img/sort2.jpg" alt="">
      </a>
    </div>
    <div class="sortItem3 sortItem l">
      <a href="#">
        <img src="img/sort3.jpg" alt="">
      </a>
    </div>
    <div class="sortItem4 sortItem l">
      <a href="#">
        <img src="img/sort4.jpg" alt="">
      </a>
    </div>
  </div>
</div>