<!DOCTYPE html>
<html>
  <head>
    <title>真品生活首页</title>
    <link rel="stylesheet" href="css/reset.css" />
  </head>
  <body>
    
    <%include ./head/header.ejs %>
    
    <section>
      <!-- swiper -->
      <%include ./home/swiper/swiper.ejs%>

      <!-- sort -->
      <%include ./home/sort/sort.ejs%>

      <!-- floor-list -->
      <!-- 人气 -->
      <%include ./home/floorList/floorList.ejs%>
      <!-- 法南 -->
      <%include ./home/floorList/floorList2.ejs%>
    </section>

    <%include ./footer/footer.ejs %>

  </body>
  
</html>
