.container{
  background: url(../img/loginbg.jpg) no-repeat 50% 50%;
  width: 100%;
  height: 540px;
  padding-top: 60px;
}
.loginArticle{
  padding: 0 20px;
  float: right;
  width: 375px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
}
.loginArticle .loginTitle{
  margin-top: 30px;
  line-height: 64px;
  font-size: 16px;
  /* color: #c6c6c6; */
  border-bottom: #d9d9d9 1px solid;
  text-align: center;
  cursor: pointer;
}
.loginArticle .loginForm{
  display: flex;
  width: 100%;
  /* padding: 0 20px; */
  flex-direction: column;
}
.loginArticle .phoneNum{
  border: solid 1px #e8e8e8;
  margin: 20px 0;
}
.loginArticle .verification{
  border: solid 1px #e8e8e8;
  margin: 20px 0;
  position: relative;
}
.verification .getverification{
  position: absolute;
  text-align: center;
  height: 80%;
  bottom: 4px;
  right: 20px;
  border-left: 2px solid #eeeeee;
  padding-left: 15px;
  display: table-cell;
}
.getverification span{
  font-size: 16px;
  font-weight: bold;
  height: 38px;
  line-height:38px;
  user-select: none;
  cursor: pointer;
}
.loginForm input{
  height: 48px;
  padding: 0 8px;
  width: 100%;
}
.loginForm .loginButton{
  margin: 10px 0 30px;
}
.loginForm .loginButton button{
  width: 100%;
  height: 40px;
}