<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <%include ../head/header.ejs %>
  
    <div class="container">
      <div class="wrap">
        <div class="loginArticle">
          <div class="loginTitle">
            <h2>登录/注册</h2>
          </div>
          <form class="loginForm" action="" onsubmit="false">
            <div class="phoneNum">
              <input type="text" id="phoneNum" placeholder="手机号">
            </div>
            <div class="verification">
              <input id="verification" type="text" placeholder="请输入验证码">
              <div  class="getverification">
                <span id="getVerification">发送验证码</span>
              </div>
            </div>
            <div class="loginButton">
              <button type="button" id="login">登录</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%include ../footer/footer.ejs %>
  </body>
</html>
<script src="js/jquery.js"></script>
<script>
  $(function(){
    $("#getVerification").click(function () { 
      let phoneNum = $("#phoneNum").val() 
      console.log(phoneNum);
      $.ajax({
        type:"GET",
        url:"/phone/data",
        data:{
          phone : phoneNum
        },
        success:function (data) {  
          console.log(data);
        }
      })

    })
    $('#login').click(function(){
      let phoneNum = $("#phoneNum").val()
      let verification=$("#verification").val();
      $.ajax({
        url:'/phone/check',
        method:'GET',
        data:{
          phoneNum,
          verification
        },
        success:function(data){
          console.log(data);
        }
      })
    })
  })
</script>