<link rel="stylesheet" href="css/floorList.css">
<div class="floorList">
  <div class="goodsScroll">
    <div class="adHd">
      人气
      <span>/</span>
      <span>推荐</span>
    </div>
    <div class="adPic">
      <a href="#">
        <img src="img/sortad.jpg" alt="" srcset="">
      </a>
    </div>
    <div class="goodlist">
      <ul class="clearfix">
        <li class="goodItem">
          <div class="goodImg">
            <a href="#">
              <img src="img/jiu1.jpg" alt="">
            </a>
          </div>
          <div class="goodInfo">
            <h3 class="goodName">
              <a href="#">普拉迪克桃红葡萄酒PRADIGNAC</a>
            </h3>
            <div class="goodTags">
              <span>单只装</span>
            </div>
            <div class="goodPrice">
              <ins>￥84.50</ins>
              <span>/</span>
              <del>￥199.00</del>
              <a href="#">加入购物车</a>
            </div>
          </div>
        </li>
        <li class="goodItem">
          <div class="goodImg">
            <a href="#">
              <img src="img/jiu2.jpg" alt="">
            </a>
          </div>
          <div class="goodInfo">
            <h3 class="goodName">
              <a href="#">布兰维尔庄园索拉尔红葡萄酒Domaine de Blanville Solal</a>
            </h3>
            <div class="goodTags">
              <span>单只装</span>
            </div>
            <div class="goodPrice">
              <ins>￥84.50</ins>
              <span>/</span>
              <del>￥199.00</del>
              <a href="#">加入购物车</a>
            </div>
          </div>
        </li>
        <li class="goodItem">
          <div class="goodImg">
            <a href="#">
              <img src="img/jiu3.jpg" alt="">
            </a>
          </div>
          <div class="goodInfo">
            <h3 class="goodName">
              <a href="#">山间农庄第一河谷红葡萄酒La Ferme du Mont Premiere Cote</a>
            </h3>
            <div class="goodTags">
              <span>单只装</span>
            </div>
            <div class="goodPrice">
              <ins>￥84.50</ins>
              <span>/</span>
              <del>￥199.00</del>
              <a href="#">加入购物车</a>
            </div>
          </div>
        </li>
        <li class="goodItem">
          <div class="goodImg">
            <a href="#">
              <img src="img/jiu4.jpg" alt="">
            </a>
          </div>
          <div class="goodInfo">
            <h3 class="goodName">
              <a href="#">蒙塔贝特伯爵白葡萄酒COMTE DE MENTAUBERT</a>
            </h3>
            <div class="goodTags">
              <span>单只装</span>
            </div>
            <div class="goodPrice">
              <ins>￥84.50</ins>
              <span>/</span>
              <del>￥199.00</del>
              <a href="#">加入购物车</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>